---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import
        "bootstrap.min",
        "font-awesome.min",
        "flexslider",
        "styles-9"
;


#project-slider{
	min-height: 1px;
}
#project-title{
	margin-top:0;
}
#project-slider .flex-control-nav{
	bottom: -65px;
}
#main-nav{
  .navbar-brand{
    height: 97px;
    margin-top: -20px;
    img{
      max-width: 130px;
    }
  }
}
