<section id="about" class="add-padding bg-color2">

	<div class="container">

		<div class="row">

			<div class="col-sm-6 scrollimation fade-right d1">

				<img class="img-responsive polaroid" src="/images/about.jpg" alt="Nosotros somos Stamp Studio" />

			</div>

			<div class="col-sm-6 scrollimation fade-left d3">

				<h1 class="big-text">{{ site.title }}</h1>

				<p class="lead">{{ site.description }}</p>

				<p>{{ site.description-extended }}</p>

			</div>

		</div>

	</div>

</section>
