<section id="portfolio" class="add-padding">

	<div class="container">
		
		<h1 class="big-text text-center scrollimation fade-in">Mis trabajos</h1>
		<br/>
		<!--==== Portfolio Filters ====-->
		<div id="filter-works">
			<ul>
				<li class="active scrollimation fade-right d1">
					<a href="#" data-filter="*">Todos</a>
				</li>
				<li class="scrollimation fade-right">
					<a href="#" data-filter=".Branding">Branding</a>
				</li>
				<li class="scrollimation fade-left">
					<a href="#" data-filter=".Graphic">Diseño Gráfico</a>
				</li>
				<li class="scrollimation fade-left d1">
					<a href="#" data-filter=".Illustration">Ilustración</a>
				</li>
				<li class="scrollimation fade-left d1">
					<a href="#" data-filter=".Web">Diseño Web</a>
				</li>
			</ul>
		</div>
		
		<!--End portfolio filters -->
		
		<!--==== Project Preview ====-->
		<div id="project-preview">
		
			<span class="close-preview">&times;</span>
			
			<div class="col-xs-12 col-md-6">
				<h1 id="project-title"></h1>
				<div id="project-content"></div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div id="project-slider" class="flexslider"></div>
			</div>
		
		</div><!--Project Preview -->
		
	</div>

	<div class="container masonry-wrapper">
	
		<div id="projects-container">

			{% for post in site.posts %}
			<article class="project-item {{ post.details.fields | join: ' ' }}">
				
				<img class="img-responsive project-image" src="{{ post.details.covers.404 }}"  alt=""><!--Project thumb -->
				
				<div class="hover-mask">
					<h2 class="project-title">{{ post.title }}</h2><!--Project Title -->
					<p>{{ post.details.fields | join: ', ' }}</p><!--Project Subtitle -->
				</div>
				
				<!--==== Project Preview HTML ====-->
				{% assign post_images = post.details.modules | map: 'src' %}
				<div class="sr-only project-description" data-images="{{ post_images | join: ', ' }}" >
					{{ post.content }}
					<p><a class="btn btn-color1" href="{{ post.details.url }}" target="_blank"><i class="fa fa-arrow-right"></i>Ver en Behance</a></p>
				</div>
				
			</article>
			{% endfor %}

		</div><!-- End projects --> 
		
	</div><!-- End container --> 
	

</section>